/* fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/* Variables */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(0, 0%, 94%);
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* Global Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-grey-8);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
h2,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}
h4 span {
  font-size: 0.7rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

/* Slider */
.section {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--clr-primary-2);
}
.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.car-img {
  width: 330px;
  height: 220px;
  object-fit: cover;
  border: 1px solid var(--clr-grey-7);
  background: var(--clr-white);
  padding: 0.25rem;
  border-radius: 5px;
  box-shadow: var(--dark-shadow);
}
article h4 {
  font-weight: 500;
  color: var(--clr-primary-5);
  letter-spacing: var(--spacing);
  margin: 1.5rem 0 0.5rem 0;
}
.location {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-primary-2);
}
.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}
.prev,
.next {
  position: absolute;
  top: 115px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

/* media queries */
@media screen and (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  body {
    font-size: 1rem;
  }
  h2,
  h4 {
    line-height: 1;
  }
  .section {
    width: 95vw;
  }
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    top: 210px;
    font-size: 1.3rem;
  }
  .car-img {
    width: 620px;
    height: 420px;
  }
  .section-center {
    height: 650px;
  }
}
